@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my blog</h1>
    <p>My name is Albert, i'm a computer science student. This is a personnal project testing out the new .NET 5 Framework</p>
    <p2>This website will eventually be a functionning blog where I can add posts using my browser, saving those posts in a Json file but eventually a REST Api.</p2>
</div>
